body{
    font-family: 'TT Lakes';
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #F8F8F8;
}

.app-main{
    min-height: 100vh;
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

img{
    max-width: 100%;
    height: 100%;
}

p{
    margin-top: 0;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 28px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: inherit;
}



.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff3e79;
    transition: .4s ease all;
    cursor: pointer;
}

.icon{
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: inherit;
    width: 24px;
    height: 24px;
    transition: .3s ease all;
}


.button:hover{
    background-color: #FFE0E9;
}

.icon:hover{
    color: #ff3e79;
    fill: #ff3e79;
}

    /* ----------------  aside-block  ----------------*/

.aside{
    width: 320px;
    box-shadow: 16px 0px 52px 0px #0E185033;
    background: #fff;
    max-height: 100%;
}

.aside-overlay,
.aside-inner{
    max-height: 100%;
    height: 100%;
}

.aside-header__wrapper{
    display: flex;
    padding: 32px;
    align-items: center;
    justify-content: space-between;
}

.aside-body{
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.aside-body__inner{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    justify-content: space-between;
}

.aside-nav__items{
    display: flex;
    flex-direction: column;
    margin: 4px 0 32px;
}

.aside-nav__item{
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    min-height: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
    transition: .4s ease all;
    position: relative;
    z-index: 1;
    width: 100%;
}

.aside-nav__item:not(:last-child){
    margin-bottom: 15px;
}

.aside-nav__item:after{
    content: '';
    position: absolute;
    z-index: -1;
    left: -30px;
    top: 0;
    width: 3px;
    height: 32px;
    background: transparent;
    border-radius: 2px;
    transition: .4s ease all;
}

.aside-nav__item.active:after{
    background: #41F6D7;
}

.aside-nav__item:hover:after{
    background: #41F6D7;
}

.aside-info{
    padding-bottom: 20px;
}

.aside-social{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.aside-social__item{
    margin-left: 16px;
}

.aside-social__item:first-child{
    margin-left: 0;
}

.aside-contacts{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.aside-contacts__email{
    margin-bottom: 12px;
    font-weight: 500;
    color: #1B1C21;
    font-size: 16px;
    transition: .4s ease all;
}

.aside-contacts__email:hover,
.aside-contacts__phone:hover{
    color: #ff3e79;
}

.aside-contacts__phone{
    font-weight: bold;
    font-size: 24px;
    color: #1b1c21;
    transition: .4s ease all;
}

.aside-languages{
    display: flex;
    align-items: center;
}

.aside-languages__item{
    font-size: 16px;
    cursor: pointer;
}

.aside-languages__item:not(:last-child){
    margin-right: 8px;
}

.aside-button{
    position: relative;
    z-index: 1;
}

.aside-button:before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    rotate: 45deg;
    transition: .4s ease all;
}

.aside-button:after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    rotate: -45deg;
    transition: .4s ease all;
}

.aside-button:hover.aside-button:before{
    background: #ff3e79;
}

.aside-button:hover.aside-button:after{
    background: #ff3e79;
}